@model Enfant
@{
    ViewData["titre"] = @Locals["Title"];

}
<h1>@Locals["Title"] @Model.Nom</h1>
<h4>Zombie</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <div class="row p-3 ">
            <form asp-action="DeletePost" asp-route-Id="@Model.Id">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.Nom" class="control-label"></label>
                    </div>
                    <div class="col-8">
                        @Model.Nom
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.Description" class="col-form-label"></label>
                    </div>
                    <div class="col-8">
                        @Model.Description
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.Date" class="control-label"></label>
                    </div>
                    <div class="col-8">
                        @Model.Date
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.GenreDeFilm" class="control-label"></label>
                    </div>
                    <div class="col-8">
                        @Model.GenreDeFilm
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.Vus" class="col-form-label"></label>
                    </div>
                    <div class="col-8">
                        @Model.Parent.Nom
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-4"> </div>
                    <div class="col-4">
                        <button type="submit" value="Delete" class="btn btn-danger w-100"><i class="fa-solid fa-trash-can"></i>&nbsp;&nbsp;@Locals["Delete"]</button>
                    </div>
                    <div class="col-4">
                        <a class="btn btn-secondary" asp-controller="Enfant" asp-action="Recherche"><i class="fa-solid fa-circle-arrow-left"></i>&nbsp;&nbsp;@Locals["BackToList"]</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



@*@model Enfant
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Supprimer ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="supprimer">
        <h1 class="text-white">Supprimer </h1>

        <h3 class="text-white">Êtes-vous sûr de vouloir supprimer ceci ?</h3>
        <div>
            <h4>Enfant</h4>
            <hr />
            <form asp-controller="GestionEnfant" asp-action="DeletePost" asp-route-id="@Model.Id">
                <table style="width:100%">
                    <tr>
                        <th>ID</th>
                        <th>Nom de film</th>
                        <th>Image</th>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(model => model.Id)</td>
                        <td>@Html.DisplayFor(model => model.Nom)</td>
                        <td>

                            <img src="@Model.ImageURL" />
                        </td>
                    </tr>
                </table>
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index">Retour a la liste</a>
             </form>
        </div>
    </div>

</div>


@section style {
    <style>

        h1 {
            margin-top: 50px;
        }

        form {
            margin-bottom: 50px;
        }
    </style>
} *@