@model Parent
@{
    ViewData["titre"] = @Locals["Edit"];


}
<h1>@Locals["Edit"]</h1>
<h4>Statut</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <div class="row p-3 ">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <input asp-for="@Model.Id" class="form-control" hidden />
                    <div class="col-4">
                        <label asp-for="@Model.Nom" class="control-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.Nom" class="form-control" />
                        <span asp-validation-for="@Model.Nom" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.Description" class="control-label"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="@Model.Description" class="form-control summernote" style="height:300px;"></textarea>

                        <span asp-validation-for="@Model.Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ImageURL" class="control-label"></label>
                    </div>
                    <div class="col-8">
                        <input type="text" asp-for="ImageURL" class="form-control" />
                        <span asp-validation-for="ImageURL" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row  py-2">
                    <div class="col-10 offset-4 row">
                        <div class="col-5">
                            <button type="submit" value="Edit" class="btn btn-info w-100"><i class="fa-solid fa-pen-to-square"></i>&nbsp;&nbsp;@Locals["Edit"]</button>
                        </div>
                        <div class="col-5">
                            <a class="btn btn-secondary " asp-action="Index"><i class="fa-solid fa-circle-arrow-left"></i>&nbsp;&nbsp;@Locals["BackToList"]</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @*<partial name ="_ValidationScriptsPartial"   />*@
    <script>
        $(document).ready(function () { $('.summernote').summernote(); });
    </script>
 }


